<h1><%= @description %></h1>

<form action="/output">
  <div class= "form-group">
    <label for="word1">Write your first word to check</label>
    <input id="word1" name="word1" class = "form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>
